<a href="https://colab.research.google.com/github/orizay/free-fonts/blob/master/Pandas_DataLoad_Select.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 실무데이터처리
- 데이터 불러오기
- 데이터 컬럼 추출하기

## DataFrame
- DataFrame :엑셀과같이 , 인덱스((Index),변수(Column),값(Value)로 이루어진 데이터 구조
- Pandas DataFrame의 장점:

  - -->>대용량 데이터를 빠르고 쉽게 다룰 수 있다
  - -->>복잡한 기능을 구현하기가 쉽고,데이터 전처리를 쉽게 할 수 있다.
  - -->>다른 시스템과 연동이 쉽다.(Flask라이브러리:웹 개발/SQLALchemy:데이터베이스/Skleam:머신러닝)

- Numpy라이브러리에서 지원하는 수학 및 통계 연산을 그대로 이용 할 수 있다.
- 가장 구조적인 데이터 형태로써,직관적이고 설명하기 쉬우며,csv나excle 형태로 저장 할 수 있다.

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('MyData',force_remount=True)

Mounted at MyData

In [3]:
df1 = pd.read_csv('/content/MyData/MyDrive/MyData/pandas-example.csv')

In [4]:
df1.shape

(705571, 20)

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705571 entries, 0 to 705570
Data columns (total 20 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   공급일자      705571 non-null  object
 1   요일        705571 non-null  object
 2   공급월       705571 non-null  int64
 3   공급주차      705571 non-null  int64
 4   회원번호      705571 non-null  int64
 5   조합원상태     705571 non-null  object
 6   물품대분류     705571 non-null  object
 7   물품중분류     705571 non-null  object
 8   물품소분류     705571 non-null  object
 9   물품명       705571 non-null  object
 10  구매수량      705571 non-null  float64
 11  주소-구      705571 non-null  object
 12  주소-동      705571 non-null  object
 13  성별        705566 non-null  object
 14  연령        705538 non-null  float64
 15  연령대       705538 non-null  object
 16  구매금액      705571 non-null  int64
 17  구매매장      705571 non-null  object
 18  반품_원거래일자  11234 non-null   float64
 19  구매시각      705571 non-null  object
dtypes: float64(3), int64(4), object(13)
memory usage: 107.7+ MB

In [6]:
# 연속형 데이터를 describe함수로 확인할수 있다.
df1.describe()

                 공급월           공급주차  ...          구매금액      반품_원거래일자
count  705571.000000  705571.000000  ...  7.055710e+05  1.123400e+04
mean        3.510817      13.500022  ...  1.092004e+04  2.018034e+07
std         1.719153       7.517818  ...  1.670323e+04  5.229237e+02
min         1.000000       1.000000  ... -6.662160e+05  2.017121e+07
25%         2.000000       7.000000  ...  4.116000e+03  2.018021e+07
50%         4.000000      13.000000  ...  7.275000e+03  2.018040e+07
75%         5.000000      20.000000  ...  1.263500e+04  2.018052e+07
max         6.000000      26.000000  ...  2.751014e+06  2.018063e+07

[8 rows x 7 columns]

In [7]:
df1.head()

         공급일자 요일  공급월  공급주차        회원번호  ...    연령대   구매금액 구매매장 반품_원거래일자   구매시각
0  2018-01-02  화    1     1   272369856  ...    40대  22207  매장C      NaN  10:04
1  2018-01-02  화    1     1  1506656256  ...  30대이하   4977  매장C      NaN  10:05
2  2018-01-02  화    1     1  1506656256  ...  30대이하   7083  매장C      NaN  10:05
3  2018-01-02  화    1     1  1023108864  ...  30대이하    766  매장C      NaN  10:08
4  2018-01-02  화    1     1  1476143616  ...  30대이하   4403  매장C      NaN  10:09

[5 rows x 20 columns]

In [8]:
df1.tail()

              공급일자 요일  공급월  공급주차        회원번호  ...  연령대  구매금액 구매매장 반품_원거래일자   구매시각
705566  2018-06-30  토    6    26   146297344  ...  50대  9189  매장A      NaN  17:56
705567  2018-06-30  토    6    26  1532985472  ...  60대  5169  매장A      NaN  14:37
705568  2018-06-30  토    6    26  1532985472  ...  60대  7466  매장A      NaN  14:37
705569  2018-06-30  토    6    26  1209779776  ...  40대  3542  매장A      NaN  18:04
705570  2018-06-30  토    6    26   301961920  ...  40대  1914  매장A      NaN  16:36

[5 rows x 20 columns]

# Missing Data:결측값, 데이터가 비어있는 값

In [9]:
df1.isnull().sum()

공급일자             0
요일               0
공급월              0
공급주차             0
회원번호             0
조합원상태            0
물품대분류            0
물품중분류            0
물품소분류            0
물품명              0
구매수량             0
주소-구             0
주소-동             0
성별               5
연령              33
연령대             33
구매금액             0
구매매장             0
반품_원거래일자    694337
구매시각             0
dtype: int64

In [10]:
df1.columns

Index(['공급일자', '요일', '공급월', '공급주차', '회원번호', '조합원상태', '물품대분류', '물품중분류', '물품소분류',
       '물품명', '구매수량', '주소-구', '주소-동', '성별', '연령', '연령대', '구매금액', '구매매장',
       '반품_원거래일자', '구매시각'],
      dtype='object')

### 위의 예제는 데이터 분석가가 데이터를 가져와서 데이터가 어떻게 구성되였는지를 확인하는 단계 -- 함수나 기능을 알아 보았다.

# 데이터 추출하기 = DATA COLUMNS SELECT

In [11]:
df1['구매금액']

0         22207
1          4977
2          7083
3           766
4          4403
          ...
705566     9189
705567     5169
705568     7466
705569     3542
705570     1914
Name: 구매금액, Length: 705571, dtype: int64

In [12]:
df1['구매금액'].sum()

7704862190

In [13]:
df1['구매금액'].describe()

count    7.055710e+05
mean     1.092004e+04
std      1.670323e+04
min     -6.662160e+05
25%      4.116000e+03
50%      7.275000e+03
75%      1.263500e+04
max      2.751014e+06
Name: 구매금액, dtype: float64

In [14]:
# 두개이상의 컬럼을 가져올때는 두개의 대괄호로 묶어 준다
df2 = df1[['구매금액','성별']]

In [15]:
df2

         구매금액 성별
0       22207  여
1        4977  여
2        7083  여
3         766  여
4        4403  여
...       ... ..
705566   9189  여
705567   5169  여
705568   7466  여
705569   3542  여
705570   1914  여

[705571 rows x 2 columns]

# 데이터 행 추출 데이터 정렬 및 필터링

In [16]:
df1.columns

Index(['공급일자', '요일', '공급월', '공급주차', '회원번호', '조합원상태', '물품대분류', '물품중분류', '물품소분류',
       '물품명', '구매수량', '주소-구', '주소-동', '성별', '연령', '연령대', '구매금액', '구매매장',
       '반품_원거래일자', '구매시각'],
      dtype='object')

In [17]:
df1.index

RangeIndex(start=0, stop=705571, step=1)

In [18]:
df1.values

array([['2018-01-02', '화', 1, ..., '매장C', nan, '10:04'],
       ['2018-01-02', '화', 1, ..., '매장C', nan, '10:05'],
       ['2018-01-02', '화', 1, ..., '매장C', nan, '10:05'],
       ...,
       ['2018-06-30', '토', 6, ..., '매장A', nan, '14:37'],
       ['2018-06-30', '토', 6, ..., '매장A', nan, '18:04'],
       ['2018-06-30', '토', 6, ..., '매장A', nan, '16:36']], dtype=object)

In [19]:
# Describe: 연속형데이터 5Number Summary 요약통계량을 계산해준다
df1.describe()

                 공급월           공급주차  ...          구매금액      반품_원거래일자
count  705571.000000  705571.000000  ...  7.055710e+05  1.123400e+04
mean        3.510817      13.500022  ...  1.092004e+04  2.018034e+07
std         1.719153       7.517818  ...  1.670323e+04  5.229237e+02
min         1.000000       1.000000  ... -6.662160e+05  2.017121e+07
25%         2.000000       7.000000  ...  4.116000e+03  2.018021e+07
50%         4.000000      13.000000  ...  7.275000e+03  2.018040e+07
75%         5.000000      20.000000  ...  1.263500e+04  2.018052e+07
max         6.000000      26.000000  ...  2.751014e+06  2.018063e+07

[8 rows x 7 columns]

In [20]:
# 전체 데이터의 요약을 보려면 info:전체 DataFrame의 요약 정보 
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705571 entries, 0 to 705570
Data columns (total 20 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   공급일자      705571 non-null  object
 1   요일        705571 non-null  object
 2   공급월       705571 non-null  int64
 3   공급주차      705571 non-null  int64
 4   회원번호      705571 non-null  int64
 5   조합원상태     705571 non-null  object
 6   물품대분류     705571 non-null  object
 7   물품중분류     705571 non-null  object
 8   물품소분류     705571 non-null  object
 9   물품명       705571 non-null  object
 10  구매수량      705571 non-null  float64
 11  주소-구      705571 non-null  object
 12  주소-동      705571 non-null  object
 13  성별        705566 non-null  object
 14  연령        705538 non-null  float64
 15  연령대       705538 non-null  object
 16  구매금액      705571 non-null  int64
 17  구매매장      705571 non-null  object
 18  반품_원거래일자  11234 non-null   float64
 19  구매시각      705571 non-null  object
dtypes: float64(3), int64(4), object(13)
memory usage: 107.7+ MB

# 데이터 행 추출

In [21]:
df1.iloc[0]

공급일자         2018-01-02
요일                    화
공급월                   1
공급주차                  1
회원번호          272369856
조합원상태              정상회원
물품대분류                과실
물품중분류                과일
물품소분류                사과
물품명         사과/유(1.5kg)
구매수량                  1
주소-구                수지구
주소-동               풍덕천동
성별                    여
연령                   45
연령대                 40대
구매금액              22207
구매매장                매장C
반품_원거래일자            NaN
구매시각              10:04
Name: 0, dtype: object

In [22]:
df1.iloc[-1]

공급일자             2018-06-30
요일                        토
공급월                       6
공급주차                     26
회원번호              301961920
조합원상태                  정상회원
물품대분류                    음료
물품중분류                    음료
물품소분류                    빙과
물품명         포도꽁꽁(120ml)/매장용
구매수량                      1
주소-구                    수지구
주소-동                   풍덕천동
성별                        여
연령                       49
연령대                     40대
구매금액                   1914
구매매장                    매장A
반품_원거래일자                NaN
구매시각                  16:36
Name: 705570, dtype: object

In [23]:
df1.iloc[0:11]

          공급일자 요일  공급월  공급주차        회원번호  ...    연령대   구매금액 구매매장 반품_원거래일자   구매시각
0   2018-01-02  화    1     1   272369856  ...    40대  22207  매장C      NaN  10:04
1   2018-01-02  화    1     1  1506656256  ...  30대이하   4977  매장C      NaN  10:05
2   2018-01-02  화    1     1  1506656256  ...  30대이하   7083  매장C      NaN  10:05
3   2018-01-02  화    1     1  1023108864  ...  30대이하    766  매장C      NaN  10:08
4   2018-01-02  화    1     1  1476143616  ...  30대이하   4403  매장C      NaN  10:09
5   2018-01-02  화    1     1   716128320  ...    50대   7083  매장C      NaN  10:10
6   2018-01-02  화    1     1   743192512  ...    50대  17038  매장C      NaN  10:12
7   2018-01-02  화    1     1   743192512  ...    50대  11104  매장C      NaN  10:12
8   2018-01-02  화    1     1   743192512  ...    50대   7083  매장C      NaN  10:12
9   2018-01-02  화    1     1   743192512  ...    50대   2584  매장C      NaN  10:12
10  2018-01-02  화    1     1  1177875136  ...  30대이하   7179  매장C      NaN  10:19

[11 rows x 20 columns]

# 데이터 정렬

In [24]:
df1

              공급일자 요일  공급월  공급주차  ...   구매금액 구매매장 반품_원거래일자   구매시각
0       2018-01-02  화    1     1  ...  22207  매장C      NaN  10:04
1       2018-01-02  화    1     1  ...   4977  매장C      NaN  10:05
2       2018-01-02  화    1     1  ...   7083  매장C      NaN  10:05
3       2018-01-02  화    1     1  ...    766  매장C      NaN  10:08
4       2018-01-02  화    1     1  ...   4403  매장C      NaN  10:09
...            ... ..  ...   ...  ...    ...  ...      ...    ...
705566  2018-06-30  토    6    26  ...   9189  매장A      NaN  17:56
705567  2018-06-30  토    6    26  ...   5169  매장A      NaN  14:37
705568  2018-06-30  토    6    26  ...   7466  매장A      NaN  14:37
705569  2018-06-30  토    6    26  ...   3542  매장A      NaN  18:04
705570  2018-06-30  토    6    26  ...   1914  매장A      NaN  16:36

[705571 rows x 20 columns]

In [25]:
# 데이터를 오름차순으로 정렬
df1.sort_values(by= '구매금액')

              공급일자 요일  공급월  공급주차  ...     구매금액 구매매장    반품_원거래일자   구매시각
157876  2018-02-09  금    2     6  ...  -666216  매장C  20180206.0  16:59
181579  2018-02-14  수    2     7  ...  -666216  매장C  20180206.0  14:06
144210  2018-02-06  화    2     6  ...  -499662  매장C  20180206.0  16:42
142077  2018-02-06  화    2     6  ...  -499662  매장C  20180206.0  18:52
145272  2018-02-06  화    2     6  ...  -499662  매장C  20180206.0  16:04
...            ... ..  ...   ...  ...      ...  ...         ...    ...
585654  2018-06-01  금    6    22  ...  1445383  매장A         NaN  18:13
155255  2018-02-09  금    2     6  ...  1448255  매장B         NaN  12:17
127674  2018-02-02  금    2     5  ...  1588964  매장B         NaN  16:22
208148  2018-02-23  금    2     8  ...  1688514  매장D         NaN  11:30
182163  2018-02-14  수    2     7  ...  2751014  매장B         NaN  12:36

[705571 rows x 20 columns]

In [26]:
# 데이터를 내림 차순으로 정렬
df1.sort_values(by='구매금액',ascending=False)

              공급일자 요일  공급월  공급주차  ...     구매금액 구매매장    반품_원거래일자   구매시각
182163  2018-02-14  수    2     7  ...  2751014  매장B         NaN  12:36
208148  2018-02-23  금    2     8  ...  1688514  매장D         NaN  11:30
127674  2018-02-02  금    2     5  ...  1588964  매장B         NaN  16:22
155255  2018-02-09  금    2     6  ...  1448255  매장B         NaN  12:17
585654  2018-06-01  금    6    22  ...  1445383  매장A         NaN  18:13
...            ... ..  ...   ...  ...      ...  ...         ...    ...
144210  2018-02-06  화    2     6  ...  -499662  매장C  20180206.0  16:42
145272  2018-02-06  화    2     6  ...  -499662  매장C  20180206.0  16:04
142077  2018-02-06  화    2     6  ...  -499662  매장C  20180206.0  18:52
181579  2018-02-14  수    2     7  ...  -666216  매장C  20180206.0  14:06
157876  2018-02-09  금    2     6  ...  -666216  매장C  20180206.0  16:59

[705571 rows x 20 columns]

In [27]:
df1.sort_values(by='구매수량', ascending=False)

              공급일자 요일  공급월  공급주차  ...    구매금액 구매매장    반품_원거래일자   구매시각
665064  2018-06-21  목    6    25  ...  201014  매장A         NaN  17:22
665636  2018-06-21  목    6    25  ...   57432  매장A         NaN  17:22
664021  2018-06-21  목    6    25  ...   90935  매장A         NaN  17:22
382065  2018-04-09  월    4    15  ...  162725  매장C         NaN  17:45
665065  2018-06-21  목    6    25  ...  114865  매장A         NaN  17:22
...            ... ..  ...   ...  ...     ...  ...         ...    ...
612002  2018-06-07  목    6    23  ...  -98784  매장C  20180606.0  19:38
663461  2018-06-21  목    6    25  ...  -57432  매장A  20180621.0  17:22
665066  2018-06-21  목    6    25  ... -201014  매장A  20180621.0  17:22
664534  2018-06-21  목    6    25  ...  -90935  매장A  20180621.0  17:22
663462  2018-06-21  목    6    25  ... -114865  매장A  20180621.0  17:22

[705571 rows x 20 columns]

In [28]:
df1.sort_values(by=['구매수량','연령'])

              공급일자 요일  공급월  공급주차  ...    구매금액 구매매장    반품_원거래일자   구매시각
663461  2018-06-21  목    6    25  ...  -57432  매장A  20180621.0  17:22
663462  2018-06-21  목    6    25  ... -114865  매장A  20180621.0  17:22
664534  2018-06-21  목    6    25  ...  -90935  매장A  20180621.0  17:22
665066  2018-06-21  목    6    25  ... -201014  매장A  20180621.0  17:22
612002  2018-06-07  목    6    23  ...  -98784  매장C  20180606.0  19:38
...            ... ..  ...   ...  ...     ...  ...         ...    ...
386251  2018-04-09  월    4    15  ...  191441  매장C         NaN  17:45
664021  2018-06-21  목    6    25  ...   90935  매장A         NaN  17:22
665064  2018-06-21  목    6    25  ...  201014  매장A         NaN  17:22
665065  2018-06-21  목    6    25  ...  114865  매장A         NaN  17:22
665636  2018-06-21  목    6    25  ...   57432  매장A         NaN  17:22

[705571 rows x 20 columns]

In [29]:
df1.sort_values(by=['구매수량','연령'],ascending=False)

              공급일자 요일  공급월  공급주차  ...    구매금액 구매매장    반품_원거래일자   구매시각
664021  2018-06-21  목    6    25  ...   90935  매장A         NaN  17:22
665064  2018-06-21  목    6    25  ...  201014  매장A         NaN  17:22
665065  2018-06-21  목    6    25  ...  114865  매장A         NaN  17:22
665636  2018-06-21  목    6    25  ...   57432  매장A         NaN  17:22
382065  2018-04-09  월    4    15  ...  162725  매장C         NaN  17:45
...            ... ..  ...   ...  ...     ...  ...         ...    ...
612002  2018-06-07  목    6    23  ...  -98784  매장C  20180606.0  19:38
663461  2018-06-21  목    6    25  ...  -57432  매장A  20180621.0  17:22
663462  2018-06-21  목    6    25  ... -114865  매장A  20180621.0  17:22
664534  2018-06-21  목    6    25  ...  -90935  매장A  20180621.0  17:22
665066  2018-06-21  목    6    25  ... -201014  매장A  20180621.0  17:22

[705571 rows x 20 columns]

In [30]:
df1.sort_values(by=['구매수량','연령'],ascending=[False,True])

              공급일자 요일  공급월  공급주차  ...    구매금액 구매매장    반품_원거래일자   구매시각
382065  2018-04-09  월    4    15  ...  162725  매장C         NaN  17:45
386251  2018-04-09  월    4    15  ...  191441  매장C         NaN  17:45
664021  2018-06-21  목    6    25  ...   90935  매장A         NaN  17:22
665064  2018-06-21  목    6    25  ...  201014  매장A         NaN  17:22
665065  2018-06-21  목    6    25  ...  114865  매장A         NaN  17:22
...            ... ..  ...   ...  ...     ...  ...         ...    ...
612002  2018-06-07  목    6    23  ...  -98784  매장C  20180606.0  19:38
663461  2018-06-21  목    6    25  ...  -57432  매장A  20180621.0  17:22
663462  2018-06-21  목    6    25  ... -114865  매장A  20180621.0  17:22
664534  2018-06-21  목    6    25  ...  -90935  매장A  20180621.0  17:22
665066  2018-06-21  목    6    25  ... -201014  매장A  20180621.0  17:22

[705571 rows x 20 columns]

In [32]:
df1.sort_values(by=['구매수량','연령'],ascending=[False,True]).iloc[:10]

              공급일자 요일  공급월  공급주차        회원번호  ...  연령대    구매금액 구매매장 반품_원거래일자   구매시각
382065  2018-04-09  월    4    15  1230917760  ...  40대  162725  매장C      NaN  17:45
386251  2018-04-09  월    4    15  1230917760  ...  40대  191441  매장C      NaN  17:45
664021  2018-06-21  목    6    25    86983296  ...  50대   90935  매장A      NaN  17:22
665064  2018-06-21  목    6    25    86983296  ...  50대  201014  매장A      NaN  17:22
665065  2018-06-21  목    6    25    86983296  ...  50대  114865  매장A      NaN  17:22
665636  2018-06-21  목    6    25    86983296  ...  50대   57432  매장A      NaN  17:22
607549  2018-06-06  수    6    23   548171456  ...  50대   98784  매장C      NaN  10:35
659553  2018-06-20  수    6    25   157158656  ...  50대  168468  매장D      NaN  12:23
276072  2018-03-12  월    3    11   595068864  ...  50대  206757  매장D      NaN  11:39
277720  2018-03-12  월    3    11   595068864  ...  50대  206757  매장D      NaN  11:39

[10 rows x 20 columns]

# 데이터 필터

In [33]:
df1['연령대'].value_counts()

40대      270573
50대      174458
30대이하    106392
60대       95019
70대이상     59096
Name: 연령대, dtype: int64

In [35]:
cond1 = df1['연령대'] == '40대'

In [36]:
df1.loc[cond1]

              공급일자 요일  공급월  공급주차        회원번호  ...  연령대   구매금액 구매매장 반품_원거래일자   구매시각
0       2018-01-02  화    1     1   272369856  ...  40대  22207  매장C      NaN  10:04
17      2018-01-02  화    1     1  1049686784  ...  40대   5743  매장C      NaN  10:31
18      2018-01-02  화    1     1   164510272  ...  40대   8711  매장C      NaN  10:32
19      2018-01-02  화    1     1  1185171072  ...  40대   5169  매장C      NaN  10:37
20      2018-01-02  화    1     1  1206815744  ...  40대   5265  매장C      NaN  10:39
...            ... ..  ...   ...         ...  ...  ...    ...  ...      ...    ...
705556  2018-06-30  토    6    26   572193664  ...  40대   2202  매장A      NaN  13:48
705560  2018-06-30  토    6    26  1333795840  ...  40대   7275  매장A      NaN  15:28
705561  2018-06-30  토    6    26  1333795840  ...  40대   3982  매장A      NaN  15:28
705569  2018-06-30  토    6    26  1209779776  ...  40대   3542  매장A      NaN  18:04
705570  2018-06-30  토    6    26   301961920  ...  40대   1914  매장A      NaN  16:36

[270573 rows x 20 columns]

In [37]:
df1.loc[cond1].shape

(270573, 20)

In [38]:
df1.loc[~cond1]  #물결표는 해당하는 데이터의 반대

              공급일자 요일  공급월  공급주차  ...  구매금액 구매매장    반품_원거래일자   구매시각
1       2018-01-02  화    1     1  ...  4977  매장C         NaN  10:05
2       2018-01-02  화    1     1  ...  7083  매장C         NaN  10:05
3       2018-01-02  화    1     1  ...   766  매장C         NaN  10:08
4       2018-01-02  화    1     1  ...  4403  매장C         NaN  10:09
5       2018-01-02  화    1     1  ...  7083  매장C         NaN  10:10
...            ... ..  ...   ...  ...   ...  ...         ...    ...
705564  2018-06-30  토    6    26  ...  3446  매장A         NaN  16:43
705565  2018-06-30  토    6    26  ... -6126  매장A  20180630.0  15:54
705566  2018-06-30  토    6    26  ...  9189  매장A         NaN  17:56
705567  2018-06-30  토    6    26  ...  5169  매장A         NaN  14:37
705568  2018-06-30  토    6    26  ...  7466  매장A         NaN  14:37

[434998 rows x 20 columns]

In [39]:
df1['성별'].value_counts()

여    662024
남     43542
Name: 성별, dtype: int64

In [40]:
cond1 = (df1['연령대'] == '40대')
cond2 = (df1['성별'] == '남')

df1.loc[cond1 & cond2]

              공급일자 요일  공급월  공급주차        회원번호  ...  연령대   구매금액 구매매장 반품_원거래일자   구매시각
34      2018-01-02  화    1     1   570500992  ...  40대   3829  매장C      NaN  11:19
38      2018-01-02  화    1     1  1314239168  ...  40대  20676  매장C      NaN  11:22
196     2018-01-02  화    1     1   850970432  ...  40대   4786  매장C      NaN  17:11
197     2018-01-02  화    1     1   850970432  ...  40대   6892  매장C      NaN  17:11
328     2018-01-02  화    1     1  1090633856  ...  40대   4403  매장D      NaN  17:09
...            ... ..  ...   ...         ...  ...  ...    ...  ...      ...    ...
705197  2018-06-30  토    6    26   273041728  ...  40대   9668  매장C      NaN  13:53
705258  2018-06-30  토    6    26   163435648  ...  40대  26802  매장C      NaN  17:20
705334  2018-06-30  토    6    26   408947328  ...  40대  23739  매장D      NaN  12:31
705335  2018-06-30  토    6    26   408947328  ...  40대   3733  매장D      NaN  12:31
705542  2018-06-30  토    6    26   932214976  ...  40대   7466  매장A      NaN  11:36

[12514 rows x 20 columns]

In [42]:
df1.loc[cond1 | cond2]

              공급일자 요일  공급월  공급주차        회원번호  ...  연령대   구매금액 구매매장 반품_원거래일자   구매시각
0       2018-01-02  화    1     1   272369856  ...  40대  22207  매장C      NaN  10:04
17      2018-01-02  화    1     1  1049686784  ...  40대   5743  매장C      NaN  10:31
18      2018-01-02  화    1     1   164510272  ...  40대   8711  매장C      NaN  10:32
19      2018-01-02  화    1     1  1185171072  ...  40대   5169  매장C      NaN  10:37
20      2018-01-02  화    1     1  1206815744  ...  40대   5265  매장C      NaN  10:39
...            ... ..  ...   ...         ...  ...  ...    ...  ...      ...    ...
705556  2018-06-30  토    6    26   572193664  ...  40대   2202  매장A      NaN  13:48
705560  2018-06-30  토    6    26  1333795840  ...  40대   7275  매장A      NaN  15:28
705561  2018-06-30  토    6    26  1333795840  ...  40대   3982  매장A      NaN  15:28
705569  2018-06-30  토    6    26  1209779776  ...  40대   3542  매장A      NaN  18:04
705570  2018-06-30  토    6    26   301961920  ...  40대   1914  매장A      NaN  16:36

[301601 rows x 20 columns]

# 연습

### 30대 여성고개데이터만 추출해서 구매금액이 높은 순서대로 파일을 만들어서 제공해주세요.

* 30대 여성 추출 -->> 구매금액 높은순서로 정렬
* 파일로 저장

In [43]:
cond3 = (df1['연령대'] == '30대이하')
cond4 = (df1['성별'] == '여')

df1[cond3 & cond4]

              공급일자 요일  공급월  공급주차  ...   구매금액 구매매장 반품_원거래일자   구매시각
1       2018-01-02  화    1     1  ...   4977  매장C      NaN  10:05
2       2018-01-02  화    1     1  ...   7083  매장C      NaN  10:05
3       2018-01-02  화    1     1  ...    766  매장C      NaN  10:08
4       2018-01-02  화    1     1  ...   4403  매장C      NaN  10:09
10      2018-01-02  화    1     1  ...   7179  매장C      NaN  10:19
...            ... ..  ...   ...  ...    ...  ...      ...    ...
705532  2018-06-30  토    6    26  ...   8232  매장A      NaN  13:47
705543  2018-06-30  토    6    26  ...  12444  매장A      NaN  15:53
705553  2018-06-30  토    6    26  ...   4977  매장A      NaN  17:14
705563  2018-06-30  토    6    26  ...   5743  매장A      NaN  16:43
705564  2018-06-30  토    6    26  ...   3446  매장A      NaN  16:43

[94886 rows x 20 columns]

In [46]:
df3 = df1[cond3 & cond4].sort_values(by='구매금액',ascending=False)

In [47]:
df3

              공급일자 요일  공급월  공급주차  ...     구매금액 구매매장    반품_원거래일자   구매시각
155255  2018-02-09  금    2     6  ...  1448255  매장B         NaN  12:17
154682  2018-02-09  금    2     6  ...   631757  매장B         NaN  12:17
154683  2018-02-09  금    2     6  ...   604955  매장B         NaN  12:17
124021  2018-02-01  목    2     5  ...   499662  매장A         NaN  15:51
682834  2018-06-25  월    6    26  ...   499662  매장A         NaN  11:12
...            ... ..  ...   ...  ...      ...  ...         ...    ...
638874  2018-06-15  금    6    24  ...  -118694  매장C  20180611.0  10:28
357637  2018-04-02  월    4    14  ...  -126351  매장C  20180402.0  16:27
330306  2018-03-26  월    3    13  ...  -127309  매장A         NaN  17:14
482357  2018-05-04  금    5    18  ...  -127691  매장A  20180504.0  16:32
209220  2018-02-23  금    2     8  ...  -166554  매장D  20180223.0  16:43

[94886 rows x 20 columns]

In [48]:
df3.shape

(94886, 20)

In [50]:
# 한글 깨짐방지하기위해 encoding= 'cp949' 를 써주면 된다
df3.to_csv('/content/MyData/MyDrive/MyData/pandas_ex_result.csv',encoding='cp949')